/***** top chatbox *****/

.chatbox-top {
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    background: #87CEFA;
    z-index: 1;
}

.chatbox-avatar {
    width: 80px;
    height: 65px;
    overflow: hidden;
    border-radius: 80%;
    background: white;
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    position: absolute;
    transition: .1s ease-out;
    left: 10px;
}

.chatbox-avatar img {
    width: 100%;
    height: 100%;
}

.chat-conv-name {
    flex: 1;
    padding: 0 0 0 130px;
    font-size: 15px;
    font-style: italic;
    font-family: Trattatello, serif;
    color: #708090;
    text-shadow: 1px 1px 0 white;
    transition: .1s ease-out;
}

/***** message sending *****/

.output{
    margin: auto;
    display: block;
    padding-top: 70px;
    padding-bottom: 100px;
}

.greating{
    margin: auto;
    display: block;
    padding-top: 70px;
    padding-bottom: 100px;
}


.message-box {
    padding: 6px 10px;
    border-radius: 20px;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(0, 68, 170, 0.1);
    color: black;
    font-size: 12px;
}

.bot-icon{
    width: 45px;
    height: 30px;
    left: 100px;
    background: #FFFAFA;
}

.message-box-holder {
    width: 90%;
    margin: 0 15px 0 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #708090;
    border-right: none;
    bottom: -22px;
    right: 11px;
}

.user {
    border: 2px solid #708090;
    background:#708090;
    color: white;
    font-family: Trattatello, serif;
    font-size: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.bot {
    background: #87CEFA;
    color: white;
    #border: 2px solid rgba(0, 0, 0, .2);
    align-self: flex-start;
    font-family: Trattatello, serif;
    font-size: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.bot:after {
    right: auto;
    bottom: auto;
    top: -22px;
    left: 11px;
    border: 10px solid transparent;
    border-bottom: 10px solid #87CEFA;
    border-left: none;
}

/***** body *****/

body {
    width: 420px;
    height: 600px;
    margin: auto;
    background-color: #FFFAFA;
}

/***** input chatbox *****/

.chat-textarea-holder {
    position: fixed;
    bottom: 20px;
    width: 90%;
    height: 5px;
    padding: 10px 10px 30px 10px;
    margin-top: 100px;
    border-radius: 60px;
    left: 10px;
    border: 2px solid #87CEFA;
    box-shadow: 0 0 5px 0 #87CEFA;
}

.chat-textarea {
    resize: none;
    width: 80%;
    padding: 5px 10px;
    height: 20px;
    font-family: Trattatello, serif;
    font-size: 15px;
    color: black;
    flex:  1;
    border: transparent;
    background-color: #FFFAFA;
}

.sending_btn {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 3px;
    left: 15px;
}

/***** Dot pulse *****/

.dot-pulse-holder {
    position: fixed;
    bottom: 100px;
    width: 20px;
    right: 0;
    padding: 20px 20px 20px 20px;
    margin-top: 100px;
    visibility: hidden;
}

.dot-pulse {
    position: relative;
    left: -10030px;
    width: 10px;
    height: 10px;
    right: 0;
    border-radius: 5px;
    background-color: #87CEFA;
    color: #87CEFA;
    box-shadow: 9999px 0 0 -5px;
    -webkit-animation: dot-pulse 1.5s infinite linear;
    animation: dot-pulse 1.5s infinite linear;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #87CEFA;
    color: #87CEFA;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    -webkit-animation: dot-pulse-before 1.5s infinite linear;
    animation: dot-pulse-before 1.5s infinite linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    -webkit-animation: dot-pulse-after 1.5s infinite linear;
    animation: dot-pulse-after 1.5s infinite linear;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

@-webkit-keyframes dot-pulse-before {
    0% {
    box-shadow: 9984px 0 0 -5px;
    }
    30% {
    box-shadow: 9984px 0 0 2px;
    }
    60%,
    100% {
    box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse-before {
    0% {
    box-shadow: 9984px 0 0 -5px;
    }
    30% {
    box-shadow: 9984px 0 0 2px;
    }
    60%,
    100% {
    box-shadow: 9984px 0 0 -5px;
    }
}

@-webkit-keyframes dot-pulse {
    0% {
    box-shadow: 9999px 0 0 -5px;
    }
    30% {
    box-shadow: 9999px 0 0 2px;
    }
    60%,
    100% {
    box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
    box-shadow: 9999px 0 0 -5px;
    }
    30% {
    box-shadow: 9999px 0 0 2px;
    }
    60%,
    100% {
    box-shadow: 9999px 0 0 -5px;
    }
}

@-webkit-keyframes dot-pulse-after {
    0% {
    box-shadow: 10014px 0 0 -5px;
    }
    30% {
    box-shadow: 10014px 0 0 2px;
    }
    60%,
    100% {
    box-shadow: 10014px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
    box-shadow: 10014px 0 0 -5px;
    }
    30% {
    box-shadow: 10014px 0 0 2px;
    }
    60%,
    100% {
    box-shadow: 10014px 0 0 -5px;
    }
}
